@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model SchoolProject1640.Models.ModelOfView.AdminDashboard
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (User.IsInRole("Administrator"))
{
    <div class="px-16 py-8 w-full h-[900px] flex text-black  sm:px-1">

        <div class="w-full h-full bg-[#EBDFD7] py-5 px-3 ">

            <div class="w-full h-[90%] space-y-10 ">
                <div class="px-5 py-5 w-full h-[200px] grid grid-cols-4 text-black  lg:grid-cols-2 lg:h-[400px] gap-4 ">
                    <div class="w-full h-full bg-[#F2EAE5] flex flex-col space-y-1 px-3 py-3 rounded-xl">
                        <div class="bg-[#D398E7] rounded-full w-14 h-14 flex items-center justify-center">
                            <Icon class="w-10 h-10" name="mdi:file-outline" />
                        </div>

                        <div class="text-[#797979] font-medium text-[18px]">
                            Total articles
                        </div>
                        <div class="text-[40px] font-bold">@Model.TotalArticle</div>
                    </div>
                    <div class="w-full h-full bg-[#F2EAE5] flex flex-col space-y-1 px-3 py-3 rounded-xl">
                        <div class="bg-[#E89271] rounded-full w-14 h-14 flex items-center justify-center">
                            <Icon class="w-10 h-10" name="ph:bag-bold" />
                        </div>
                        <div class="text-[#797979] font-medium text-[18px]">
                            Total Facuties
                        </div>
                        <div class="text-[40px] font-bold">@Model.TotalFaculty</div>
                    </div>
                    <div class="w-full h-full bg-[#F2EAE5] flex flex-col space-y-1 px-3 py-3 rounded-xl">
                        <div class="bg-[#70A1E5] rounded-full w-14 h-14 flex items-center justify-center">
                            <Icon class="w-10 h-10" name="icon-park-outline:peoples" />
                        </div>
                        <div class="text-[#797979] font-medium text-[18px]">
                            Total Student
                        </div>
                        <div class="text-[40px] font-bold">@Model.TotalStudent</div>
                    </div>
                    <div class="w-full h-full bg-[#F2EAE5] flex flex-col space-y-1 px-3 py-3 rounded-xl">
                        <div class="bg-[#70A1E5] rounded-full w-14 h-14 flex items-center justify-center">
                            <Icon class="w-10 h-10" name="icon-park-outline:peoples" />
                        </div>
                        <div class="text-[#797979] font-medium text-[18px]">
                            Total Contribution
                        </div>
                        <div class="text-[40px] font-bold">@Model.TotalContribution</div>
                    </div>
                </div>
                <div class="px-5 w-full  flex space-x-5 lg:flex-col lg:space-y-5 lg:space-x-0">
                    <div class="bg-[#F2EAE5] w-[45%] h-[400px] p-5 rounded-xl space-y-4 text-center lg:w-[100%] ">
                        <div class="font-bold text-[20px] text-center">
                            Bảng Xếp Hạng Bé Khỏe Bé Ngoan
                        </div>
                        <table class="w-full">
                            <thead>
                                <tr class="w-full">
                                    <th class="w-[20%] text-center">Top</th>
                                    <th class="w-[35%] text-center">Name Author</th>
                                    <th class="w-[35%] text-center">Email</th>
                                    <th class="w-[10%] text-center">Article Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var (userId, articleCount) in Model.UserPostArticleCount)
                                {
                                    <tr>
                                        <td class="top-column"></td>
                                        <td>@UserManager.FindByIdAsync(userId).Result.LastName</td>
                                        <td>@UserManager.FindByIdAsync(userId).Result.Email</td>
                                        <td>@articleCount</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            let topColumn = document.querySelectorAll('.top-column');
                            let rank = 1;
                            topColumn.forEach(function (element) {
                                element.textContent = rank++;
                            });
                        });
                    </script>
                    <div class="bg-[#F2EAE5] w-[45%] h-[400px] p-5 rounded-xl space-y-4 text-center lg:w-[100%]  ">
                        <div class="font-bold text-[20px] text-center">
                            Bảng Xếp Hạng Giáo Viên Chăm Ngoan
                        </div>
                        <table class="w-full">
                            <thead>
                                <tr class="w-full">
                                    <th class="w-[30%] text-center">Top</th>
                                    <th class="w-[35%] text-center">Name Author</th>
                                    <th class="w-[35%] text-center">Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(a, key) in x.datas.slice(0, 10)">
                                    <td>{{ key + 1 }}</td>
                                    <td>{{ a.nameAuthor }}</td>
                                    <td>{{ a.email }}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}